
@model Contact
<div class="text-center">
    <h1 class="title-page">Prendre rendez-vous ou poser une question</h1>
</div>

@if (ViewData.ContainsKey("HasContactFormSend")
  && (bool)ViewData["HasContactFormSend"])
{
    <div class="alert alert-primary" role="alert">
        Message bien envoyé !
    </div>
}
else if (ViewData.ContainsKey("IlYAeuuneerrurdanslenvoiedumail")
     && (bool)ViewData["IlYAeuuneerrurdanslenvoiedumail"])
{
    <div class="alert alert-danger" role="alert">
        Une erreur s'est produite lors de l'nvoie du mél
    </div>
}

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div>
        <div class="container contact">
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Message, new { @class = "form-label" })
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control textarea" })
            </div>
            <button type="submit" class="btn btn-primary btn-contact">Envoyer</button>
        </div>
    </div>

}


